<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Project Shardbound</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="stylesheet" href="/static/tooltip.css" />

  <script type="module" src="/static/src/main.js" defer></script>
</head>
<body>
  <div id="gameUI">
    <div id="topBar">[TOP BAR]</div>

    <div id="middleRow">
      <div id="left-Bar">[LEFT BAR]</div>

      <div id="viewportWrapper">
      <div id="viewport"></div>
      <div id="devToolsPanel">[DEV TOOLS]</div>
      <div id="zoomOverlay">100%</div>
    </div>

    </div>

    <div id="bottomBar">[BOTTOM BAR]</div>
  </div>
</body>
</html>
